.App {
  text-align: center;
}

.Card {
  display: inline-flex;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.btn-primary {
  margin: 1px;
}

.logo {
  padding: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid crimson;
  border-radius: 2.25rem;
  margin: 5px;
}

a {
  color: #fff;
  transition: color 0.3s ease;
}